.devcontainer
.DS_Store

UBUNTU/GDAL-OCI-MAPSERVER/mapfiles/*
!UBUNTU/GDAL-OCI-MAPSERVER/mapfiles/.gitkeep
CHAINGUARD/MAPSERVER/mapfiles/*
!CHAINGUARD/MAPSERVER/mapfiles/.gitkeep
CHAINGUARD/MAPSERVER/private/*
!CHAINGUARD/MAPSERVER/private/.gitkeep